---
Astro.cookies.set("astro", "cookie", {
	httpOnly: true,
	path: "/",
	sameSite: "strict",
	maxAge: 1704085200,
});

Astro.response.headers.set(
	"Set-Cookie",
	"common=cookie; Path=/; HttpOnly; SameSite=Strict; Max-Age=1704085200",
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
